version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    open-pull-requests-limit: 5
    # Optionally ignore packages, for example: |
    # ignore:
    #   - dependency-name: "left-pad"
    #     update-types: ["version-update:semver-minor"]
